# Project exclude paths
/.gradle/
/build/
/build-logic/.gradle/
/build-logic/convention-plugin/build/
/build-logic/convention-plugin/build/classes/kotlin/main/
.kotlin/
**/build/
.idea/
local.properties
